html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-image {
    background-image: url('https://a.storyblok.com/f/191466/1385x745/24d13cf0aa/web-development-trends-for-2023.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    text-align: center;
    color: white;
    padding: 0;
}

.sombra{
    text-shadow: 3px 5px 10px black;
}

.explicacion {
    padding: 20px;
    text-align: center;
}