@{
	ViewData["Title"] = "Politicas de Privacidad";
}
<div class="container mt-5">
	<h1>@ViewData["Title"]</h1>

	<strong>Información de Alumnos</strong>
	<p>
		Este sitio web muestra información de los alumnos de la materia "Programación con Objetos 3". La información que se muestra incluye el nombre, apellido y edad de los alumnos.
	</p>
	<strong>
		Recopilación de Información
	</strong>
	<p>
		No recopilamos información personal ni datos adicionales de los usuarios de este sitio web.
	</p>
	<strong>
		Uso de la Información
	</strong>
	<p>
		La información que se muestra en este sitio web se proporciona únicamente con fines educativos y de información. No se utiliza con ningún otro propósito y no se comparte con terceros.
	</p>
	<strong>
		Protección de la Información
	</strong>
	<p>
		La información de los alumnos se muestra de manera pública y no se recopila ni almacena información adicional de los usuarios.
	</p>
	<strong>
		Cambios en esta Política de Privacidad
	</strong>
	<p>
		Nos reservamos el derecho de modificar esta política en cualquier momento. Cualquier cambio se reflejará en esta página.
	</p>
	<strong>
		Contacto
	</strong>
	<p>
		Para cualquier pregunta o inquietud, por favor, póngase en contacto con nosotros a través de <a href="gonzafarias01@gmail.com">gonzafarias01@gmail.com</a>
	</p>

</div>
