@{
	ViewData["Title"] = "Inicio";
}

<!-- Parte con fondo -->

<div class="bg-image d-flex align-items-center justify-content-center mt-5">
	<div class="mb-5">
		<h1 class="display-1 m-0 sombra">Bienvenido</h1>
		<p class="m-0 sombra fs-4">Aprende sobre <a class="text-light" href="https://docs.microsoft.com/aspnet/core">diseñar Web apps con ASP.NET Core</a>.</p>
	</div>
</div>


<!-- Sección de explicación -->
<div class="d-flex align-items-center justify-content-center p-5">
	<div class="container p-2">
		<h2>¿Qué trata esta página?</h2>
		<p class="mb-5">
			Esta página web está diseñada para la práctica académica en programación con objetos 3 utilizando C# y el modelo vista control (MVC)
			. Los datos son ficticios y se proporcionan con fines educativos. La materia está a cargo del docente José Luis Cabrera.
		</p>
		<h2>¿Qué es MVC?</h2>
		<p class="pb-5">
			MVC (Modelo Vista Controlador) es un patrón de diseño de software que separa una aplicación en tres componentes principales: el Modelo, que gestiona los datos y la lógica de negocio; la Vista, que se encarga de la presentación y la interfaz de usuario; y el Controlador, que actúa como intermediario entre el Modelo y la Vista, gestionando las interacciones del usuario y coordinando la lógica de la aplicación.
		</p>
	</div>
</div>
