@{
	ViewData["Title"] = "Información";
	var modelo = new ModeloPrueba();
	var s = modelo.ObtenerPersona();
	var nombre = s.nombre + " " + s.apellido;
	var s2 = modelo.ObtenerPersonas();
}
<div class="container mt-5">

	<h1>@ViewData["Title"]</h1>

	<p>
		<strong>Autor: @Html.Raw(nombre)</strong>
	</p>
	<br />
	<h2>Personas cursando Programación con Objetos 3</h2>
	@foreach (var unaPersona in s2)
	{
		<li> @unaPersona.nombre @unaPersona.apellido  </li>
	}

</div>